<html>
  <body>
    <% messages.forEach((message) => { %>
        <ul>
            <li>
                <%= message.text %> 
            </li>
            <li>
                <%= message.username %>
            </li>
            <li>
                <%= message.date_added %>
            </li>
        </ul>
    <% }); %>
  </body>
</html>